* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
span {
  color: orangered;
}

/*Navbar Start*/
.navbar {
  width: 100%;
  height: 55px;
  background-color: #041230;
  position: fixed;
  top: 0;
}
.navbar li {
  display: inline;
  float: right;
  padding: 18px 30px;
  cursor: pointer;
}
.navbar li a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: block;
}
.navbar li:hover {
  color: white;
  background-color: #2c3e50;
}
.active {
  background-color: #2c3e50;
}
.navbar .logo {
  float: left;
  letter-spacing: 5px;
  word-spacing: 10px;
  font-size: 25px;
  font-weight: bold;
  padding: 12px 25px;
}
/*Navbar End*/
/*Home Start*/
.home {
  display: flex;
}
.half {
  width: 50%;
  height: 100%;
  text-align: center;
  margin: auto;
}
.half h1 {
  font-size: 50px;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
  margin-top: 40px;
  margin-left: 120px;
  margin-bottom: 20px;
}
.half p {
  text-align: left;
  font-size: 18px;
  margin-left: 120px;
  margin-bottom: 40px;
}
.half a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 30px;
  background-image: linear-gradient(to right, #041230, #2c3e50);
  color: white;
  border-radius: 50px;
}

.half a:hover {
  background-image: linear-gradient(to left, #041230, #2c3e50);
  transition: 0.5s;
}

.half img {
  max-width: 470px;
  height: auto;
  margin-top: 70px;
}
/*Home End*/

/*About Start*/
.about {
  display: flex;
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  margin-top: 100px;
  margin-bottom: 100px;
}
.about img {
  max-width: 300px;
  width: auto;
}
.about h1 {
  text-align: left;
}
.about p {
  text-align: justify;
  margin-right: 100px;
}
.about a {
  text-align: left;
}
/*About End*/

/*Recipie Start*/
.recipie h1 {
  text-align: center;
}
.recipie hr {
  width: 100px;
  text-align: center;
  margin: 20px auto;
}
.recipie p {
  text-align: center;
  line-height: 1.5;
  font-size: 300;
  margin-bottom: 50px;
}
.recipie-box {
  display: flex;
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 8%;
  justify-content: space-around;
}
.single-box {
  box-shadow: 10px 10px 30px grey;
  border-radius: 25px;
  height: 450px;
  width: 28%;
}
.single-box img {
  width: 92%;
  height: auto;
  display: block;
  text-align: center;
  margin: 15px auto;
}
.single-box h3 {
  margin: 18px;
}
.single-box p {
  margin: 18px;
  text-align: justify;
  font-weight: 300;
  line-height: 1.4;
}
/*Recipie End*/
