*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
span{
    color:orangered;
}


/*Navbar Start*/
.navbar{
    width: 100%;
    height: 55px;
    background-color: #041230;
}
.navbar li{
    display: inline;
    float: right;
    padding: 18px 30px;
    cursor: pointer;
}
.navbar li a {
  text-decoration: none;
  color:white;
  text-align: center;
  display: block;
}
.navbar li:hover {
    color:white;
    background-color: #2C3E50;
  }
.active {
    background-color: #2C3E50;
  }
.navbar .logo{
    float: left;
    letter-spacing: 5px;
    word-spacing: 10px;
   font-size: 25px;
    font-weight: bold;
    padding: 12px 25px;
}
/*Navbar End*/
/*Home Start*/
.home{
    display: flex;
}
.half{
    width:50%;
    height: 100%;
    text-align: center;
    margin: auto;
}
.half h1{
font-size: 50px;
line-height: 1.5;
font-weight: 700;
text-align: left;
margin-left: 120px;
margin-bottom:20px ;
}
.half p{
    text-align: left;
    font-size: 18px;
    margin-left: 120px;
    margin-bottom:40px ;
    }
    
    .half a{
        text-decoration: none;
        text-transform: uppercase;
        padding:15px 30px;
        background-image: linear-gradient(to right,#041230,#2C3E50);
        color:white;
        border-radius: 50px;
        
    }
    
    .half a:hover{
        background-image: linear-gradient(to left,#041230,#2C3E50);
      transition: .5s;  
    }
 
.half img{
    max-width:470px;
    height: auto;
    margin-top: 20px;
}
/*Home End*/

/*About Start*/